<div style="margin-top: 50px;" class='row'></div>

<div class='row'>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>

<div class="row container-fluid">
  <div class="col-md-3"></div>
  <div class="col-md-7">
    <a routerLink="/home">Home:</a>
    <a id="link" routerLink="/products">&nbsp;All Products:</a>
    <label for="link">&nbsp;{{product.name}}</label>
  </div>
</div>


  <div class="col-md-3"></div>
  <div class="col-md-3 col-sm-6">
    <img [src]= "product.imageUrl">
  </div>
  <div class="content col-md-3 col-sm-6">
    <h3>{{ product.name }}</h3>
    <p>{{ product.brand }}, {{ product.category }}</p>
    <p class="price">{{ product.price | currency:USD }}</p>
    <br>
  
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input class="form-control" type="number" name="quantity" 
          id="quantity" #quantity min="1" placeholder="1" style="width: 100px">
      <br>
    </div>
    <button class="btn btn-primary" (click)="order(product, quantity.value)">Add to Cart</button>
    <br>
    <div class="alert alert-success" *ngIf="addToCartValid">Product added to cart successfully!</div>
  </div>

