/* You can add global styles to this file, and also import other style files */
div {
    font-family: 'Montserrat', sans-serif;
}
form{
    font-family: 'Montserrat', sans-serif;
}
nav{
    font-family: 'Montserrat', sans-serif;
}

.form-control{
    width: 500px;
}
